

<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
  <h2>Login</h2>
  <div>
    <label for="username">Username</label>
    <input
      type="text"
      id="username"
      formControlName="username"
      placeholder="Enter your username"
    />
    <div *ngIf="loginForm.get('username')?.invalid && loginForm.get('username')?.touched" style="color: red;">
      Username is required
    </div>
  </div>

  <div>
  <label for="password">Password</label>
  <div class="password-wrapper">
    <input
      [type]="showPassword ? 'text' : 'password'"
      id="password"
      formControlName="password"
      placeholder="Enter your password"
    />
    <span class="eye-toggle" (click)="togglePasswordVisibility()">
      {{ showPassword ? '🔒' : '👁️' }}
    </span>
  </div>
  <div *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched" style="color: red;">
    Password is required
  </div>
</div>


  <button type="submit" [disabled]="loginForm.invalid">
    Login
  </button>
</form>
